<h1>About Kaijudodb</h1>
<p>Hey all, My name is Rixius, or Stephen Middleton. I've on Kaijudo Dojo and Kaijudo Texas. As a long-time Magic player, Kaijudo to me was lacking a easy to search and filter database, like magic has with magiccards.info. I aim to create such a benefit.</p>
