<% if Rails.env == 'development' %>
    <div class="panel">
        <div class="panel-heading">
            <div class="h3">Development Information</div>
        </div>
        <div class="panel-body">
            <pre>
<%= @queryobject.query.to_sql %>
            </pre>
        </div>
    </div>
<% end %>
<%= render partial: "cards_#{current_card_format}_list.html.erb", locals: {cards: @cards, search: true} %>
