<div class="row">
<% cards.each do |card| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-image">
        <% if search %>
            <%= link_to image_tag(card.printings.first.art), card_path(slug: card.slug) %>
        <% else %>
            <%= image_tag(card.printings.first.art) %>
        <% end %>
    </div>
<% end %>
</div>
